.body-user {
  margin: 0 auto;
  padding: 35px 0px 80px;
  gap: 16px;
  width: 100%;
  .profil-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(235, 235, 235);
    border: 1px solid red;
    padding: 16px;
    .ref-container {
      display: flex;
      flex-direction: column;
    }
    img {
      width: 80px;
      height: 80px;
      border-radius: 100px;
      margin: 0 auto;
    }
    h3 {
      margin: 8px auto 0;
    }
    .vip {
      margin: 0 auto;
      .fa-shield {
        font-size: 0.6rem;
        margin: 0 8px;
      }
    }
    .icon-container {
      display: flex;
      margin: 0 auto;
      .fa-solid {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        padding: 9px 16px;
        margin: 8px;
        border-radius: 100px;
        border: 1px solid red;
      }
    }
  }
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .histo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 24px;
    .product-interaction-container {
      border: 1px solid red;
      .same-style-container {
        border: 1px solid rgb(0, 68, 255);
        .product-card-user-container {
          display: flex;
          gap: 16px;
          margin: 8px 0px;
          .img-container {
            width: auto;
            .img-product {
              width: 80px;
              height: 80px;
            }
          }
          .description-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .description-left {
              display: flex;
              flex-direction: column;
              .product-name {
                text-overflow: ellipsis;
              }
              span {
                padding: 2px 0px;
              }
              .product-brand {
                font-weight: 600;
              }

              .product-params {
                color: #25272c;
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
            .price-product {
              color: #25272c;
              font-weight: 600;
            }
          }
        }
      }
      .view-container {
        display: flex;
        flex-direction: column;
      }
      .buy-container {
        display: flex;
        flex-direction: column;
      }
    }
    .container-book {
      display: flex;
      flex-direction: column;
    }
  }
}
.set-btn {
  display: none;
}
button {
  display: none;
}
